html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #222222;
    width: 100%;
    height: 100%;
    font-family: "Open Sans", sans-serif;
}

h1, h3, p {
    color: #FFFFFF;
    font-family: "Nunito", sans-serif;
    padding: 0px;
    margin: 0px;
}

h1 {font-size: 48px;}

h3 {font-size: 32px;}

p {font-size: 24px;}

#dis_ca {
    width: 20%;
    height: 50%;
    position: relative;
    left: 10px;
    top: 100px;
    border-radius: 10px;
    overflow: hidden;
}

#dis_ca-b {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: #000000;
}

#dis_ca-a {
    position: absolute;
    z-index: 1;
    width: 70%;
    height: 140%;
    margin: -20% 15%;
    border: 0px;
    background: rgb(10,0,43);
    background: linear-gradient(0deg, rgb(25, 5, 99) 0%, rgba(242,65,235,1) 85%);

    animation: orbit 4s cubic-bezier(.39,0,.5,1) infinite;
}

@keyframes orbit {
    to {transform: rotate(315deg)}
    from {transform: rotate(-45deg)}
}

#dis_ca-ft {
    position: absolute;
    z-index: 2;
    margin: 2%;
    width: 96%;
    height: 96%;
    border-radius: 5px;
    background: #323232;
}

#dis_ca-fd {
    position: absolute;
    z-index: 2;
    margin: 2%;
    width: 96%;
    height: 48%;
    border-radius: 5px;
    background: #272626;
    transform: translateY(100%);
}

#dis_ca-fimg {
    position: absolute;
    z-index: 2;
    margin: 2%;
    width: 96%;
    height: 48%;
    border-radius: 5px;
    background: #ffffff;
    overflow: hidden;
}